.footer {
  height: 349px;
  background: #595959;
  font-size: 14px;
  color: white; }

.footer-row {
  padding-top: 97px; }

.location__caption {
  font-family: 'open_sansbold';
  font-size: 18px;
  color: white; }

.company__caption {
  font-family: 'open_sansbold';
  font-size: 18px;
  color: white; }

.support__caption {
  font-family: 'open_sansbold';
  font-size: 18px;
  color: white; }

.minima__caption {
  font-family: 'open_sansbold';
  font-size: 18px; }

.location__link {
  color: #b5b5b5; }

.footer__category-link {
  color: #ebebeb;
  text-decoration: none; }
