.socials {
  height: 270px; }

.socials-row {
  width: 460px;
  margin: 0 auto; }

.socials__list {
  margin-left: -60px; }

.socials__item {
  float: left;
  margin-left: 60px;
  height: 70px;
  width: 70px;
  border: 2px solid #4d4d4d; }
