.socials {
  height: 270px; }

.socials-row {
  width: 460px;
  margin: 0 auto;
  padding-top: 101px; }

.socials__list {
  margin-left: -60px; }

.socials__item {
  float: left;
  margin-left: 60px;
  height: 70px;
  width: 70px;
  border: 2px solid #4d4d4d; }

.socials__item:hover {
  background: #55acee;
  border: 2px solid #55acee;
  cursor: pointer; }

.socials__link {
  display: block;
  text-align: center; }

.socials__link:hover .socials__link-icon {
  color: white; }

.socials__link-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 66px;
  font-family: 'Socialico';
  font-size: 30px;
  color: #4d4d4d;
  text-transform: uppercase; }
