.footer {
    height: 349px;
    background: #595959;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.footer-row {
    padding-top: 97px;
}
.location {

}
.location__caption {
    font-family: 'open_sansbold';
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.location__address {

}
.company {

}
.company__caption {
    font-family: 'open_sansbold';
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.support {

}
.support__caption {
    font-family: 'open_sansbold';
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.minima {

}
.minima__caption {
    font-family: 'open_sansbold';
    font-size: 18px;
}
    .location__link {
    color: rgb(181, 181, 181);   
}
.footer__category-link {
    color: rgb(235, 235, 235);
    text-decoration: none;
}

  