.subscribe {
    height: 360px;
    background: rgb(245, 245, 245);
    font-size: 30px;
    color: rgb(77, 77, 77);
    border-top: solid rgb(231,231,231) 1px;
    border-bottom: solid rgb(231,231,231) 1px;
}
.subscribe__caption {
    text-align: center;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    padding-top: 95px;
}
.subscribe__descr {
    text-align: center;
    font-size: 14px;
    color: rgb(113, 113, 113);
    padding-top: 24px;
    padding-bottom: 51px;
}
.subscribe__button {
    display: block;
    width: 308px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px rgb(77, 77, 77);
    text-align: center;
    font-size: 16px;
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    font-family: 'open_sansbold';
    text-decoration: none;
    margin: 0 auto;
}
.subscribe__button-text {
    display: inline-block;
    line-height: 50px;
}

  
  