.works {
    height: 621px;
}
.works__caption {
    font-family: 'open_sansbold';
    text-align: center;
    text-transform:uppercase;
    font-size: 30px;
    color: rgb(77, 77, 77);
    line-height: 1.933;
    padding-top: 82px;
    padding-bottom: 63px;
}
.works__brands {
    margin-left: -50px;
}
.works__brand-item {
    float: left;
    position: relative;
    height: 320px;
    width: 262px;
    margin-left: 50px;
    background: url('../img/brand1.jpg');
}
.works__brand-item:hover {
    background: rgb(247, 247, 209);
}
.works__brand-caption {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: rgb(210, 209, 209);
    font-family: 'open_sansbold_italic';
    line-height: 1.2;
    padding-top: 137px;
    visibility: hidden;
}
.works__brand-descr {
    text-align: center;
    color: rgb(210, 209, 209);
    letter-spacing: 2px;
    font-size: 10px;
    visibility: hidden;
}
.works__brand-button {
    position: absolute;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-size: 16px;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(59, 59, 59, 0.851);
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    visibility: hidden;
}
.works__brand-item:hover .works__brand-button, .works__brand-item:hover .works__brand-descr, .works__brand-item:hover .works__brand-caption {
    visibility: visible;
}
